 <!-- footer section start -->
 <div class="footer_section layout_padding {% if add_class %}margin_top_90{% endif %}">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <h2 class="useful_text">Contact Us</h2>
             <div class="location_text"><img src="{{ url_for('static', filename='images/map-icon1.png') }}"><a href="#"><span class="padding_left_15">Location</span></a></div>
             <div class="location_text"><img src="{{ url_for('static', filename='images/call-icon1.png') }}"><a href="#"><span class="padding_left_15">(+71) 8522369417</span></a></div>
             <div class="location_text"><img src="{{ url_for('static', filename='images/mail-icon1.png') }}"><a href="#"><span class="padding_left_15">demo@gmail.com</span></a></div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <h2 class="useful_text">Useful link </h2>
             <div class="footer_menu">
                <ul>
                   <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                   <li><a href="{{ url_for('choose') }}">Choose</a></li>
                   <li><a href="{{ url_for('services') }}">Service</a></li>
                   <li><a href="{{ url_for('providing') }}">Providing</a></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <h2 class="useful_text">Opening Time</h2>
             <p class="footer_text">Mon : 07;00am   to  09:00 pm</p>
             <p class="footer_text">Mon : 07;00am   to  09:00 pm</p>
             <p class="footer_text">Mon : 07;00am   to  09:00 pm</p>
          </div>
          
       </div>
       
    </div>
 </div>
 <!-- footer section end -->
 <!-- copyright section start -->
 <div class="copyright_section padding_30">
    <div class="container">
       <p class="copyright_text">Copyright 2023 All Rights Reserved. Design by Fawzia Farag</p>
    </div>
 </div>
 <!-- copyright section end -->