<!--header section start -->
<div class="header_section">
    <div class="container-fluid">
       <div class="costum_header">
          <div class="logo"><a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a></div>
          <div class="contact_menu">
             <ul>
                <li><img src="{{ url_for('static', filename='images/call-icon.png') }}" class="padding_right_10"><a href="#">Call: +01 1234567890</a></li>
                <li><img src="{{ url_for('static', filename='images/mail-icon.png') }}" class="padding_right_10"><a href="#">Email: demo@gmail.com</a></li>
                <li><img src="{{ url_for('static', filename='images/map-icon.png') }}" class="padding_right_10"><a href="#">Location: lorm ipusm</a></li>
             </ul>
          </div>
          <div class="menu_text">
             <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                   <a href="{{ url_for('home') }}">Home</a>
                   <a href="{{ url_for('services') }}">Services</a>
                   <a href="{{ url_for('providing') }}">Providing</a>
                   <a href="{{ url_for('choose') }}">Choose</a>
                   {% if current_user.is_authenticated %}
                   <a href="{{ url_for('upload') }}">upload</a>
                   <a href="{{ url_for('logout') }}">Log Out</a>
                   {% else %}
                   <a href="{{ url_for('index') }}">Login</a>
                   {% endif %}
                </div>
             </div>
             <span class="toggle_icon" onclick="openNav()"><img src="{{ url_for('static', filename='images/toggle-icon.png') }}" class="toggle_menu"></span>
          </div>
       </div>
    </div>
 </div>
 <!-- header section end -->